h1 {
  font-weight: 750;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
}

input {
  width: 100%;
}

.items-container {
  text-align: left;
}

.button-css {
  width: 100%;
  /* min-width: 80px; */
}

.row-css {
  margin: 7px 3px;
}
